body {
  background-color: rgb(170, 110, 110);
  text-align: center;
}


header {
  width: 1000px;
  margin: auto;
}

/* seccion de la imagen */
#seccion_imagen {
  width: 1000px;
  background-color: rgb(214, 166, 166);
  margin: auto;
  border-radius: 100px;
  padding: 10px;

/* para poner 2 objetos en una misma linea separados
use el display grid ya que estos 
con el grid-template-columns separan los 2 objectos 
repeat 2 1fr quiere decir que divida las 2 imagenes 
en 2 fracciones de pantalla  */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* div con la imagen */
img {
  border-radius: 100px;
  width: 400px;
}
/* div con el texto */
.imagen_texto {
  text-align: justify;
  padding: 10px;

}

/* seccion de la tabla */
#seccion_tabla {
  width: 1000px;
  height: 200px;
  background-color: rgb(65, 63, 63);
  margin: 20px auto 20px auto;
  border-radius: 100px;
  padding: 20px;
}

.division_tabla {
  background-color: rgb(177, 169, 169);
  border-radius: 100px;
  height: 170px;
}

.division_tabla table {
  border: rgb(21, 52, 190) 3px solid;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(134, 139, 138);
  color: white;
}

.division_tabla th {
  background-color: grey;
  color: white;
  border-radius: 100px;
  border: black 1px solid;
}

.division_tabla .none {
  background-color: white;
  color: gray;
}

.division_tabla .par {
  background-color: rgb(56, 135, 187);
  color: white;
}



/* seccion de listas */

#seccion_lista {
  width: 1000px;
  background-color: rgb(214, 166, 166);
  margin: 20px auto 20px auto;
  border-radius: 100px;
  padding: 20px;
}

.tituni {
  border: black 1px solid;
  border-radius: 10px;
  
}


.uni {
  background-color: rgb(177, 238, 203);
  margin: auto;
  border: black 1px solid;
  border-radius: 5px;
  width: 200px;
  text-align: left;
}

/* 
cambia el icono normal por el de una imagen 
de las listas ordenadas */
li{
  list-style-image: url(/img/w1.gif);
}
/* 
quita las lineas de los links
cambia el tamaño y el color */
a{
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(36, 109, 36);
}

/* hover significa que cuando pase el maus 
por encima aparesca la linea y cambie el color
 */
a:hover{
text-decoration: underline;
color: hotpink;
}
